<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
    RewriteCond %{HTTP_HOST} !^www.virtuard.com$ [NC]
RewriteRule ^(.*)$ http://www.virtuard.com/$1 [L,R=301]
</IfModule>
